- Pandas https://pandas-gbq.readthedocs.io/en/latest/
- Basic of Bigquery https://blog.m157q.tw/posts/2016/12/15/cpb200-bigquery-for-data-analysts/
- Query repeated field https://cloud.google.com/bigquery/docs/legacy-nested-repeated

In [1]:
from pandas_gbq import read_gbq

In [2]:
projectid = 'ts-official-website'
private_key = "key/TS-Official-Website-d438f1c2b14d.json"

In [7]:
configuration = {
   'query': {
     "useQueryCache": False
   }
}

In [9]:
data_frame = read_gbq(
    # should flatten 
    '''
    SELECT
     *
    FROM
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN
    (FLATTEN([ts-official-website:118166279.ga_sessions_20180114]
    , customDimensions)
    , hits)
    , hits.product)
    , hits.product.customDimensions)
    , hits.product.customMetrics)
    , hits.promotion)
    , hits.experiment)
    , hits.customVariables)
    , hits.customDimensions)
    , hits.customMetrics)
    , hits.publisher_infos))
    ''',
    private_key=private_key,
    project_id=projectid,
    configuration=configuration
)
# Processed: 70.0 MB Billed: 70.0 MB
# Standard price: $0.00 USD
# Total time taken 309.99 s.

Requesting query... ok.
Job ID: 50a6ca41-ca2e-42de-a326-e2c074fcda11
Query running...
  Elapsed 7.06 s. Waiting...
  Elapsed 8.65 s. Waiting...
  Elapsed 9.97 s. Waiting...
  Elapsed 11.27 s. Waiting...
  Elapsed 12.57 s. Waiting...
  Elapsed 13.86 s. Waiting...
  Elapsed 15.29 s. Waiting...
  Elapsed 16.59 s. Waiting...
  Elapsed 17.86 s. Waiting...
  Elapsed 19.17 s. Waiting...
  Elapsed 20.44 s. Waiting...
  Elapsed 21.73 s. Waiting...
  Elapsed 23.01 s. Waiting...
  Elapsed 24.31 s. Waiting...
  Elapsed 25.59 s. Waiting...
  Elapsed 26.87 s. Waiting...
  Elapsed 28.17 s. Waiting...
  Elapsed 29.47 s. Waiting...
  Elapsed 30.77 s. Waiting...
  Elapsed 32.07 s. Waiting...
  Elapsed 33.37 s. Waiting...
  Elapsed 34.65 s. Waiting...
Query done.
Processed: 70.0 MB Billed: 70.0 MB
Standard price: $0.00 USD

Retrieving results...
Got 97743 rows.

Total time taken 309.99 s.
Finished at 2018-01-15 19:37:19.

In [14]:
data_frame.shape

(97743, 304)

In [15]:
data_frame.head()

,visitorId,visitNumber,visitId,visitStartTime,date,totals_visits,totals_hits,totals_pageviews,totals_timeOnSite,totals_bounces,...,hits_publisher_infos_adsPagesViewed,hits_publisher_infos_adsClicked,hits_publisher_infos_adsRevenue,hits_publisher_infos_dfpAdGroup,hits_publisher_infos_dfpAdUnits,hits_publisher_infos_dfpNetworkId,fullVisitorId,userId,channelGrouping,socialEngagementType
0,None,3,1515907360,1515907360,20180114,1,142,142,4624,None,...,None,None,None,None,None,None,7747560501675274650,None,Organic Search,Not Socially Engaged
1,None,3,1515907360,1515907360,20180114,1,142,142,4624,None,...,None,None,None,None,None,None,7747560501675274650,None,Organic Search,Not Socially Engaged
2,None,3,1515907360,1515907360,20180114,1,142,142,4624,None,...,None,None,None,None,None,None,7747560501675274650,None,Organic Search,Not Socially Engaged
3,None,3,1515907360,1515907360,20180114,1,142,142,4624,None,...,None,None,None,None,None,None,7747560501675274650,None,Organic Search,Not Socially Engaged
4,None,3,1515907360,1515907360,20180114,1,142,142,4624,None,...,None,None,None,None,None,None,7747560501675274650,None,Organic Search,Not Socially Engaged

In [18]:
data_frame.to_csv("/tmp/bq.csv")